{% extends 'base.html' %} {% block content %}
<div class="container py-5">
  <h1 class="display-4 text-center">About Me</h1>
  <p class="lead text-center mb-4">
    This is a course assignment for the CSE321 course.
  </p>

  <div class="row">
    <div class="col-md-6">
      <h3><strong>Personal Information</strong></h3>
      <p>
        <strong>Name:</strong>
        <a href="https://www.facebook.com/mumtaheena.ahmed/"
          >Mumtaheena Binte Ahmed</a
        >
      </p>
      <p><strong>Registration No:</strong> 21201198</p>
      <p><strong>Year:</strong> 3rd</p>
      <p><strong>Semester:</strong> 6th</p>
      <p><strong>Section:</strong> D</p>
    </div>
    <div class="col-md-6">
      <h3><strong>Course Information</strong></h3>
      <p><strong>Course Code:</strong> CSE321</p>
      <p><strong>Course Name:</strong> Software Engineering</p>
      <p>
        <strong>Submitted To:</strong>
        <a href="https://cse.uap-bd.edu/faculty/faculty_details/15"
          >Fahad Ahmed</a
        >
      </p>
      <p><strong>Submission Date:</strong> 31st November, 2024</p>
    </div>
  </div>
</div>
{% endblock %}
