{% extends 'base.html' %} {% block content %}
<div class="container py-5">
  <h1 class="mb-4">Tasks</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          {% if task.is_completed %}
          <span class="badge bg-success">Completed</span>
          {% else %}
          <span class="badge bg-warning">In Progress</span>
          {% endif %}
        </td>
        <td>{{ task.due_date|date:"d M Y, h:i A" }}</td>
        <td>
          <a
            href="{% url 'task_update' task.id %}"
            class="btn btn-primary btn-sm"
            >Edit</a
          >
          <form
            action="{% url 'task_delete' task.id %}"
            method="post"
            class="d-inline delete-task-form"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No tasks available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
