{% extends 'base.html' %} {% block navbar %} {% include 'partials/navbar.html'%}
{% endblock %} {% block content %}
<div class="container text-center py-5">
  <h1 class="display-4">What To-Do!</h1>
  <p class="lead">A simple tool to manage your tasks efficiently.</p>

  <!-- Use Bootstrap's grid system to display divs side by side -->
  <div class="row">
    <div class="col-md-6">{% include 'task_list.html'%}</div>

    <div class="col-md-6">{% include 'get_started.html'%}</div>
  </div>
</div>
{% endblock %} {% block footer %} {% include 'partials/footer.html' %}
{%endblock %}
